section {
  max-width: 100vw;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

article {
  max-width: 80vw;
  display: flex;
  padding: var(--space-s);
  margin: var(--space-s);
}
.recipes_lesson-details {
  border-radius: 10px;
  border-color: var(--grey);
  border-width: 10px;
  width: 80vw;
  max-width: 300px;
  background-color: var(--white);
  padding: var(--space-m);
  margin: var(--space-s);
}

.recipe_image-container {
  display: flex;
  align-content: center;
}

.recipe_image {
  height: auto;
  max-height: 250px;
  width: auto;
  max-width: 280px;
}
