section {
  max-width: 100vw;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}

article {
  max-width: 80vw;
  display: flex;
  padding: var(--space-s);
  margin: var(--space-s);
}

.description {
  display: none;
}

.recipes {
  padding-bottom: 15%;
}

.recipes_lesson-details {
  border-radius: 10px;
  box-sizing: content-box;
  border-color: var(--grey);
  /* border-width: 8px; */
  width: 80vw;
  max-width: 300px;
  background-color: var(--white);
  padding: var(--space-m);
  transition: 0.2s all ease-in-out;
  /* margin: var(--space-s); */
}

.recipes_lesson-details:hover {
  box-shadow: 0px 4px 0px 0px #dc5729;

}

.recipe_image-container {
  display: flex;
  align-content: center;
}

.recipe_image {
  height: auto;
  max-height: 250px;
  width: auto;
  max-width: 280px;
}

a.card-link {
  color: black;
}
.explore {
  text-align: start;
  font-weight: 500;
  padding: 2rem 0;
}
h1{
  font-weight: normal;
  text-decoration: underline;
}

@media screen and (min-width: 840px) {
  .recipes_recipeCard {
    min-width: 30%;
    width: 400px;
  }

  .recipes_lesson-details {
    max-width: inherit;
    width: 100%;
    }

  .description {
    display: block;
    padding-top: 1rem;
    font-style: italic;
    background-color: rgba(240, 221, 197, 0.5);
    padding-bottom: 1rem;
    border-radius: 1rem;
  }
}
