.header {
  background-color: var(--secondary-app-colour);
  height: 60px;
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-top: var(--space-s);
  box-shadow: 0.2rem 0.1rem 0.3rem 0.5rem var(--secondary-app-colour)

}

