.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: var(--secondary-app-colour);
    list-style: none;
    padding: 1rem 0;
}