.bkg {
  background-color: #de561c;
}

.aboutus-header {
  font-size: 1.8em;
  margin-bottom: 0;
  margin-top: 3em;
  text-align: center;
}

.aboutus-container {
  background-color: whitesmoke;
  max-width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 3em 3rem 3em;
  justify-content: center;
  align-items: center;
}

.introductory-paragraph {
  text-align: center;
  font-size: 1.2em;
}

.diamond-paragraph {
  text-align: center;
  margin-bottom: 2em;
}