.bkg {
  background: url(https://i.imgur.com/zphWVpR.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.aboutus-header {
  font-size: 1.8em;
  margin-bottom: 0.5rem;
  margin-top: 2em;
  text-align: center;
}

.container {
  background-color: whitesmoke;
  opacity: 0.95;
  max-width: 85%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* flex-wrap: nowrap; */
  padding: 0 3em 3rem 3em;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(218, 104, 38, 0.3), rgba(253, 168, 49, 0.1), whitesmoke);
}

.introductory-paragraph {
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 1em;
}

.diamond-paragraph {
  text-align: center;
  margin-bottom: 2em;
}

.block {
  display: block;
}

.none {
  display: none;
}
h3 {
  margin-bottom: 1em;
}

.guidelines {
  margin-bottom: 5em;
}

.guidelines li {
  margin-bottom: 1em;
}