button {
  background-color: var(--primary-app-colour);
  padding-left: var(--space-m);
  padding-right: var(--space-m);
}
form {
  display: flex;
  justify-content: center;
  margin: var(--space-m);
}
input {
  border-color: var(--grey);
  border-width: thin;
  width: 40vmax;
  font-family: Source Sans Pro;
  font-size: 16px;
  padding: var(--space-xs);
  height: 5vh;
  margin: var(--space-s);
  background-color: var(--white);
}
