:root {
  --primary-app-colour: #de561c;
  --secondary-app-colour: #fda831;
  --grey: #585b66;
  --black: #1e1e1e;
  --white: #f2f4f3;
  --tertiary-app-colour: #f4d143;
  --quaternary-app-colour: #d0ef84;
  --space-xs: 0.382rem;
  --space-s: 0.618rem;
  --space-m: 1rem;
  --space-l: 1.618rem;
  --space-xl: 2.618rem;
  --space-xxl: 4.236rem;
}

/* link class */

a {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  list-style-type: none;
  text-decoration: none;
  color: var(--white)
}

a:hover {
  cursor: pointer;
}

/* paragraph */

p {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 160%;
  /* or 26px */
  letter-spacing: 0.05em;
  padding: 0 var(--space-m);
}

/* Header font */

h1 {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

/* Sub-header-info */

h2 {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */
}