.homePageHeader {
    background-color: var(--primary-app-colour);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.2rem 0;
    color: var(--white);
}

.nav ul {
    
}

ul, li > a {
    list-style-type: none;
    text-decoration: none;
    color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}