.homePageHeader {
  background: var(--primary-app-colour) url(https://i.imgur.com/zphWVpR.png) center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  color: var(--white);
  min-height: 70vh;
}

.homePageNav {
  display: flex;
  /* flex-direction: row; */
  justify-content: flex-end;
  width: 100vw;
  margin: var(--space-xs);
  margin: 3rem 0;
}
.explore {
  /* text-align: ; */
  font-weight: 500;
  padding: 0 auto 5rem auto;
}
.wrapper {
  background-color: rgba(219, 84, 26, 0.7);
  box-shadow: 0rem 0rem 12rem 14rem rgba(219, 84, 26, 0.7) inset, 0rem 4rem 14rem 4rem rgba(219, 84, 26, 0.7);  
  min-height: 70vh;
  text-align: center;
}

.tagLine {
  font-style: italic;
  font-weight: 700;
  /* font-size: 1.5rem; */
}

nav > ul > li {
  list-style-type: none;
  text-decoration: none;
  font-size: 1em;
  /* font-weight: bold; */
}

.list {
  font-size: 1.2rem;
  background-color: #db411b;
  padding: 0.4rem 2rem;
  margin-right: 7rem ;
  border-radius: 0.4rem;
}

.list:hover {
  cursor: pointer;
  text-decoration: underline;
}

.signUp {
  font-weight: 900;
  font-size: 1.2rem;
}

.logo {
  align-self: center;
  min-height: 20vh;
  width: 60vw;
  max-width: 100%;
  object-fit: cover;
  margin-top: var(--space-xxl);
}
p {
  margin: 0;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  p {
    font-size: 1.25em;
  }

  .list {
    font-size: 1.25em;
  }
}

/* ul, li > a {
    list-style-type: none;
    text-decoration: none;
    color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} */
