.homePageHeader {
  background: var(--primary-app-colour) url(https://i.imgur.com/zphWVpR.png) center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  color: var(--white);
}

.homePageNav {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-around;
  width: 100vw;
  margin: var(--space-xs);
  margin: 3rem 0;
}

.wrapper {
  background-color: rgba(219, 84, 26, 0.7);
  box-shadow: 4rem 8rem 8rem 4rem rgba(219, 84, 26, 0.7) inset;  
}

.tagLine {
  font-style: italic;
  font-weight: 700;
  font-size: 1.5rem;
}

nav > ul > li {
  list-style-type: none;
  text-decoration: none;
}

.list {
  font-size: 1.2rem;
  background-color: var(--primary-app-colour);
  padding: 0 2rem;
  border-radius: 0.3rem;
}

.list:hover {
  cursor: pointer;
  text-decoration: underline;
}

.signUp {
  font-weight: 900;
  font-size: 1.2rem;
}

.logo {
  height: 20vh;
  width: 100%;
  object-fit: cover;
}

p {
  margin: 0;
  text-align: center;
  font-size: 1rem;
}

/* ul, li > a {
    list-style-type: none;
    text-decoration: none;
    color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
} */
