.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main {
    position:fixed;
    background: white;
    max-width: 75%;
    border-radius: 3rem;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  
  .inputs {
    padding: 3rem 0;
  }

  .btn {
    display: flex;
    justify-content: center;
  }
  .color {
    background-color: #fda831 !important;
  }

  .formFlex {
    display: flex;
    flex-direction: column;
    padding: 3rem;
  }
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }
  